<table width="760" cellspacing="0" cellpadding="2" border="0" align="center">
<tbody><tr>
<td colspan="7"><font size="3" color="#800000" face="Roboto"><b>Communication Directory - Mathematics</b></font></td>
</tr>
 
		<tr><td colspan="7" class="bx">&nbsp;</td></tr>
		<tr>
		<td rowspan="2" class="cx" width="170" valign="top">Name</td>
		<td rowspan="2" class="cx" width="140" valign="top">Designation</td>
		<td colspan="3" class="cx" valign="center" align="center">Phone Numbers</td>
		<td rowspan="2" class="cx" width="230" valign="top">Email Address</td>
		
		</tr>
		<tr>
		<td class="cx" width="50" valign="center" align="center">Office</td>
		<td class="cx" width="50" valign="center" align="center">Res</td>
		<td class="cx" width="50" valign="center" align="center">Res(P)</td>
		</tr>
				<tr>
		<td class="bx">
		Office&nbsp;		</td>
		<td class="bx">&nbsp;</td>
		<td class="bx" align="center">
		282275		</td>
		<td class="bx" align="center">
		&nbsp;		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
		&nbsp;		</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=ZZmVU&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Head&nbsp;</a>
				</td>
		<td class="bx">&nbsp;</td>
		<td class="bx" align="center">
		282276		</td>
		<td class="bx" align="center">
		&nbsp;		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
		&nbsp;		</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=SWmdT&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Adhikari B&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Assistant Professor</td>
		<td class="bx" align="center">
		283670		</td>
		<td class="bx" align="center">
		283671		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				bibhas @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=SUmUX&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Allu Vasudeva Rao&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Assistant Professor</td>
		<td class="bx" align="center">
		283668		</td>
		<td class="bx" align="center">
		283669		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				alluvasu @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=aUmdU&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Bhattacharyya S&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Professor</td>
		<td class="bx" align="center">
		283640		</td>
		<td class="bx" align="center">
		283641		</td>
		<td class="bx" align="center">
		220300</td>
		<td class="bx">
		<font class="email">
				somnath @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=SUmVY&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Bhowmik B&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Assistant Professor</td>
		<td class="bx" align="center">
		282600		</td>
		<td class="bx" align="center">
		&nbsp;		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				bappaditya @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=ZZmVU&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Biswal M P&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Professor</td>
		<td class="bx" align="center">
		283642		</td>
		<td class="bx" align="center">
		283643		</td>
		<td class="bx" align="center">
		278093</td>
		<td class="bx">
		<font class="email">
				mpbiswal @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bZmVT&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Biswas D&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Assistant Professor</td>
		<td class="bx" align="center">
		283676		</td>
		<td class="bx" align="center">
		283677		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				priya @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=aYmVY&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Chakraborty D&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Associate Professor</td>
		<td class="bx" align="center">
		283638		</td>
		<td class="bx" align="center">
		283639		</td>
		<td class="bx" align="center">
		278504</td>
		<td class="bx">
		<font class="email">
				debjani @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=SXmcY&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Chowdhury S&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Assistant Professor</td>
		<td class="bx" align="center">
		&nbsp;		</td>
		<td class="bx" align="center">
		&nbsp;		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				shirshendu @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=SbmdS&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Ganguly A&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Assistant Professor</td>
		<td class="bx" align="center">
		283686		</td>
		<td class="bx" align="center">
		280687		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				aganguly @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bamZU&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Dutta R&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Associate Professor</td>
		<td class="bx" align="center">
		282858		</td>
		<td class="bx" align="center">
		283645		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				ratna @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bXmYQ&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Gayen R&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Assistant Professor</td>
		<td class="bx" align="center">
		283648		</td>
		<td class="bx" align="center">
		283649		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				rupanwita @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bYmdX&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Ghoshal K&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Associate Professor</td>
		<td class="bx" align="center">
		283666		</td>
		<td class="bx" align="center">
		283667		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				koeli @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=aTmXX&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Goswami A&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Professor</td>
		<td class="bx" align="center">
		283650		</td>
		<td class="bx" align="center">
		283651		</td>
		<td class="bx" align="center">
		277599</td>
		<td class="bx">
		<font class="email">
				goswami @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=ZWmaW&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Gupta D K&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Professor</td>
		<td class="bx" align="center">
		283652		</td>
		<td class="bx" align="center">
		283653		</td>
		<td class="bx" align="center">
		278103</td>
		<td class="bx">
		<font class="email">
				dkg @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=SUmVX&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Gupta Nitin&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Assistant Professor</td>
		<td class="bx" align="center">
		283636		</td>
		<td class="bx" align="center">
		&nbsp;		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				nitin.gupta @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=ZWmdU&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Gupta U C&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Professor</td>
		<td class="bx" align="center">
		283654		</td>
		<td class="bx" align="center">
		283655		</td>
		<td class="bx" align="center">
		278058</td>
		<td class="bx">
		<font class="email">
				umesh @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=YXmdQ&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Jain V K&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Professor</td>
		<td class="bx" align="center">
		283658		</td>
		<td class="bx" align="center">
		283659		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				vkj @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=SXmbS&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Rajesh Kannan&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Assistant Professor</td>
		<td class="bx" align="center">
		283672		</td>
		<td class="bx" align="center">
		&nbsp;		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				rajeshkannan @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=SVmUW&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Khare S R&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Assistant Professor</td>
		<td class="bx" align="center">
		282856		</td>
		<td class="bx" align="center">
		282857		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				srkhare @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bamYU&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Kumar J&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Associate Professor</td>
		<td class="bx" align="center">
		283664		</td>
		<td class="bx" align="center">
		283665		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				jkumar @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=aVmVW&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Kumar P&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Associate Professor</td>
		<td class="bx" align="center">
		283660		</td>
		<td class="bx" align="center">
		283661		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				pawan @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=aVmWZ&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Kumar S&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Professor</td>
		<td class="bx" align="center">
		283662		</td>
		<td class="bx" align="center">
		283663		</td>
		<td class="bx" align="center">
		277828</td>
		<td class="bx">
		<font class="email">
				smsh @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=SXmUS&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Mandal M&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Assistant Professor</td>
		<td class="bx" align="center">
		&nbsp;		</td>
		<td class="bx" align="center">
		&nbsp;		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				mousumi @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bamZT&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Mukhopadhyay S&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Associate Professor</td>
		<td class="bx" align="center">
		283644		</td>
		<td class="bx" align="center">
		283645		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				sourav @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bTmVT&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Murthy PVSN&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Professor</td>
		<td class="bx" align="center">
		283646		</td>
		<td class="bx" align="center">
		283647		</td>
		<td class="bx" align="center">
		220178</td>
		<td class="bx">
		<font class="email">
				pvsnm @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bXmYS&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Gnaneshwar N&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Associate Professor</td>
		<td class="bx" align="center">
		283656		</td>
		<td class="bx" align="center">
		283657		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				gnanesh @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bUdUS&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Nahak C&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Associate  Professor</td>
		<td class="bx" align="center">
		283682		</td>
		<td class="bx" align="center">
		283683		</td>
		<td class="bx" align="center">
		220545</td>
		<td class="bx">
		<font class="email">
				cnahak @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=SVmUY&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Nanduri R&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Assistant Professor</td>
		<td class="bx" align="center">
		282886		</td>
		<td class="bx" align="center">
		&nbsp;		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				nanduri @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=SWmVT&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Panda B S&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Professor</td>
		<td class="bx" align="center">
		283672		</td>
		<td class="bx" align="center">
		283673		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				bspanda @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bUddY&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Panda G&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Associate  Professor</td>
		<td class="bx" align="center">
		283680		</td>
		<td class="bx" align="center">
		283681		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				geetanjali @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bVmUS&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Pandey R K&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Professor</td>
		<td class="bx" align="center">
		283688		</td>
		<td class="bx" align="center">
		283689		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				rkp @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bTmdX&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Panigrahi P&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Associate  Professor</td>
		<td class="bx" align="center">
		283690		</td>
		<td class="bx" align="center">
		283691		</td>
		<td class="bx" align="center">
		278852</td>
		<td class="bx">
		<font class="email">
				pratima @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bbddQ&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Raja Sekhar G P&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Professor</td>
		<td class="bx" align="center">
		283684		</td>
		<td class="bx" align="center">
		283685		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				rajas @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=SUmWS&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Sekhar T. Raja&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Assistant Professor</td>
		<td class="bx" align="center">
		282602		</td>
		<td class="bx" align="center">
		282603		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
				trajasekhar @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
				<a target="_blank" href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=ZbmVX&amp;depts_name=MM" class="mainlinks" onmouseover="showtip(this,event,'View Profile')" onmouseout="hidetip()">Srivastava P D&nbsp;</a>
				</td>
		<td class="bx">&nbsp;Professor</td>
		<td class="bx" align="center">
		283678		</td>
		<td class="bx" align="center">
		283679		</td>
		<td class="bx" align="center">
		277846</td>
		<td class="bx">
		<font class="email">
				pds @ maths.iitkgp.ernet.in		
				</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
		Another Lab&nbsp;		</td>
		<td class="bx">&nbsp;</td>
		<td class="bx" align="center">
		281669		</td>
		<td class="bx" align="center">
		&nbsp;		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
		&nbsp;		</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
		Committee Room&nbsp;		</td>
		<td class="bx">&nbsp;</td>
		<td class="bx" align="center">
		281668		</td>
		<td class="bx" align="center">
		&nbsp;		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
		&nbsp;		</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
		Computer Room&nbsp;		</td>
		<td class="bx">&nbsp;</td>
		<td class="bx" align="center">
		281665		</td>
		<td class="bx" align="center">
		&nbsp;		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
		&nbsp;		</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
		ISTAM Office&nbsp;		</td>
		<td class="bx">&nbsp;</td>
		<td class="bx" align="center">
		281666		</td>
		<td class="bx" align="center">
		&nbsp;		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
		&nbsp;		</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
		Library&nbsp;		</td>
		<td class="bx">&nbsp;</td>
		<td class="bx" align="center">
		281667		</td>
		<td class="bx" align="center">
		&nbsp;		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
		&nbsp;		</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
		MHRD Lab&nbsp;		</td>
		<td class="bx">&nbsp;</td>
		<td class="bx" align="center">
		281663		</td>
		<td class="bx" align="center">
		&nbsp;		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
		&nbsp;		</font>
		</td>
		<td class="bx">
				</td>
		</tr>
				<tr>
		<td class="bx">
		SUN Lab&nbsp;		</td>
		<td class="bx">&nbsp;</td>
		<td class="bx" align="center">
		281664		</td>
		<td class="bx" align="center">
		&nbsp;		</td>
		<td class="bx" align="center">
		&nbsp;</td>
		<td class="bx">
		<font class="email">
		&nbsp;		</font>
		</td>
		<td class="bx">
				</td>
		</tr>
		</tbody></table>
